<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="/public/assets/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
        crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <!--================================= TOP Nav Bar Start========================-->

    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark d-flex justify-content-between">

        <div class="">
            <a class="navbar-brand ps-3 ms-4 me-5" href="dashboard">MEMO-Gram</a>

            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                    class="fas fa-bars"></i></button>
        </div>
        <div class="me-2">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#logOutModel">
                <i class="fa fa-power-off" aria-hidden="true"></i>
            </button>
        </div>

    </nav>
    <!--================================= TOP Nav Bar End========================-->

    <div id="layoutSidenav">
        <!--================================= Side Nav Bar Start========================-->

        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" href="dashboard">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Management</div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
                            <div class="sb-nav-link-icon"><i class="fa fa-user-circle"></i></div>
                            Registration Form
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapse" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="country">Country</a>
                                <a class="nav-link" href="businessType">Business Type</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fa fa-user-circle"></i></div>
                            Users
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingTwo"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="users">Normal Users</a>
                                <a class="nav-link" href="businessUsers">Business Users</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapses" aria-expanded="false" aria-controls="collapses">
                            <div class="sb-nav-link-icon"><i class="fa fa-user-circle"></i></div>
                            Verification
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapses" aria-labelledby="headingFive"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="verificationRequest">Verification Request</a>
                                <a class="nav-link" href="verifiedUsers">Verified Users</a>
                            </nav>
                        </div>
                        
                        <a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                            aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fa fa-database"></i></div>
                            Posts
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingThree"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="newPost">Pending Posts</a>
                                <a class="nav-link" href="ApprovePost">Approve Posts</a>
                            </nav>
                        </div>

                        <a class="nav-link" href="categoryList">
                            <div class="sb-nav-link-icon"><i class="fa fa-list-alt"></i></div>
                            Category
                        </a>

                        <a class="nav-link" href="subadmin">
                            <div class="sb-nav-link-icon"><i class="fa fa-list-ul"></i></div>
                            Sub-Admin
                        </a>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePage"
                            aria-expanded="false" aria-controls="collapsePage">
                            <div class="sb-nav-link-icon"><i class="fa fa-cog"></i></div>
                            Setting
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePage" aria-labelledby="headingFour"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="profile">Profile</a>
                                <a class="nav-link" href="changePassword">Change Password</a>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Admin
                </div>
            </nav>
        </div>
        <!--================================= Side Nav Bar End========================-->



        <div id="layoutSidenav_content">
            <main>
                <div class="content-page" style="margin-left: 2%;">
                    <style>
                        img#pic {
                            height: 70px;
                            /* margin-top: 30px; */
                            margin-bottom: 30px;
                        }

                        button.btn.btn-primary.btn-sm.waves-effect.waves-light {
                            margin-left: 90%;
                        }
                    </style>
                    <div class="content">
                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="page-title-box">
                                        <h4 class="page-title mt-5 mb-3">Profile Details</h4>
                                        <% if(messages.success) {%>
                                            <div class="alert alert-success" role="alert">
                                                <%= messages.success %>
                                                    <button type="button" class="close btn btn-danger" data-bs-dismiss="alert"
                                                        aria-hidden="true">×</button>
                                            </div>
                                            <% } %>
                                                <% if(messages.error) {%>
                                                    <div class="alert alert-danger d-flex justify-content-between"
                                                        role="alert">
                                                        <%= messages.error %>
                                                            <button type="button" class="close btn btn-danger"
                                                                data-bs-dismiss="alert" aria-hidden="true">×</button>
                                                    </div>
                                                    <% } %>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->

                            <div class="row">
                                <div class="col-12">
                                    <div class="card m-b-20">
                                        <div class="card-body">

                                            <form id="validation" action="/editProfile" method="POST" enctype="multipart/form-data">

                                                <div class="form-group row mb-3">
                                                    <label for="example-text-input"
                                                        class="col-sm-2 col-form-label">Name</label>
                                                    <div class="col-sm-10">
                                                        <input class="form-control" type="text"
                                                            value="<%= getUser[0].username%>" id="example-text-input"
                                                            name="username">
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label for="emailValidate"
                                                        class="col-sm-2 col-form-label">Email</label>
                                                    <div class="col-sm-10">
                                                        <input class="form-control" type="email"
                                                            value="<%= getUser[0].email%>" name="email"
                                                            id="emailValidate">
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label for="example-tel-input"
                                                        class="col-sm-2 col-form-label">Telephone</label>
                                                    <div class="col-sm-10">
                                                        <input class="form-control" type="tel" minlength="10"
                                                    maxlength="10" value="<%= getUser[0].phoneNumber%>" name="phoneNumber"
                                                            id="example-tel-input">
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label for="example-tel-input"
                                                        class="col-sm-2 col-form-label">profile
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <img id="pic" src="./upload/<%=profileImage%>">
                                                        <input class="form-control" type="file"
                                                            value="<%= getUser[0].profileImage%>" name="picture"
                                                            id="example-tel-input">
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label for="example-tel-input"
                                                        class="col-sm-2 col-form-label">&nbsp;
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <button type="button" onclick="ValidateEmail(emailValidate)"
                                                            class="btn btn-primary waves-effect waves-light">Submit</button>
                                                    </div>
                                                </div>
                                                <!-- <button type="submit" onclick="window.open('/upload/1630054561692Screenshot from 2021-08-26 15-23-13.png')">Download!</button> -->
                                            </form>
                                        </div>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                        </div> <!-- container-fluid -->
                    </div> <!-- content -->
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <footer class="footer">
                            © 2022 MEMO-Gram: <span class="d-none d-sm-inline-block"> Crafted <i
                                    class="mdi mdi-heart text-danger"></i> by Maxtra Technologies</span>
                        </footer>
                        <div>
                            <a href="error">Privacy Policy</a>
                            &middot;
                            <a href="error">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="/public/assets/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/public/assets/js/datatables-simple-demo.js"></script>

    <!-- model popup -->

    <div class="modal" id="logOutModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">Log Out</h5>
                    <button type="button" class="close btn btn-danger" data-bs-dismiss="modal"
                        aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <p>Do you want to logout ?</p>

                    <a href="/logout"><button type="button" class="btn btn-primary">yes</button></a>
                </div>
            </div>
        </div>
    </div>

    <!-- end of model popup  -->
    <script>
        function ValidateEmail(email) {
            if (/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email.value)) {
                document.getElementById("validation").submit()
            } else{
                alert("You have entered an invalid email address!")
                return (false)
            }
        }
    </script>
</body>

</html>